@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 80%;
}
.score-block{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.block-1, .block-2 {
    width: 40%;
}

.block-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-list {
    border: 2px solid black;
    padding: 0;
}
.score-list li:nth-child(odd) {
    background: #ddd;
  }

.score-list li {
    list-style: none;
    padding: 10px;
    background: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

input {
    padding: 8px;
    margin-top: 8px;
    border: 2px solid black;
}

.submit-btn {
    align-self: flex-end;
    margin-top: 10px;
}

button {
    padding: 8px;
    border: 2px solid black;
    background: white;
}

.hidden {
    display: none;
}